<ion-header>
  <ion-toolbar>
    <ion-title>jugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

  <ion-card text-center align-items-center *ngIf="contador!=0" style="margin-top:50%;">
  <ion-card-header>
    <ion-card-subtitle style="color:white;">Adivina la cancion</ion-card-subtitle>
  <!--  <ion-card-title style="color:white;">{{curentPlayer.name | async}}</ion-card-title>-->
  </ion-card-header>
  <ion-icon name="musical-notes"></ion-icon>
  <p style="color:white;">Es tu turno {{currentPlayer.name}}</p>
  <ion-card-content style="color:white;">
    {{contador}}
    
  </ion-card-content>
</ion-card>



  <div *ngIf="playing==true" style="margin-top:50%;">
    <ion-grid>
      <ion-row>
        <ion-col col *ngFor="let item of arr1">
          <ion-button color="warning" (click)="verificarRespuesta(item.name)">{{item.name}}</ion-button>
        </ion-col>
        <ion-col col *ngFor="let item of arr2">
          <ion-button color="warning" (click)="verificarRespuesta(item.name)">{{item.name}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
