<ion-header>
  <ion-toolbar>
    <ion-title>jugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card text-center align-items-center *ngIf="contador!=0">
  <ion-card-header>
    <ion-card-subtitle style="color:white;">Adivina la cancion</ion-card-subtitle>
  <!--  <ion-card-title style="color:white;">{{curentPlayer.name | async}}</ion-card-title>-->
  </ion-card-header>
  <ion-icon name="musical-notes"></ion-icon>
  <ion-card-content style="color:white;">
    {{contador}}
    <!--<ion-icon name="musical-notes"></ion-icon>
    <p style="color:white;">{{contador}}</p>-->
  </ion-card-content>
</ion-card>

  <button *ngIf="contador==0 && songStopped==false"ion-button icon-left (click)="escuchar()" clear small>
    <ion-icon name="play"></ion-icon>
    Preview
  </button>

  <div *ngIf="songStopped==true">
    <h1 style="color:white;">La cancion ha parado</h1>
  </div>

  <div *ngIf="playing==true">
    <ion-grid *ngFor="let item of opciones">
      <ion-row>
        <ion-col col-6 style="text-overflow: ellipsis;">
          <ion-button color="success" (click)="verificarRespuesta(item.name)">{{item.name}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
