.music-card-background{
  background-image: url("../../assets/img/music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.verdad_reto-background{
  background-image: url("../../assets/img/reto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
